            <form id="appselect"
                  action="{% url 'dashboard' %}"
                  method="post"
                  onsubmit="submitGrid()">
                {% csrf_token %}
                <p>Drag apps to rearrange them.<br>
                    Select apps to include in grid:</p>
                <table id="apptable">
                    {% for app, checked in apps_checked %}
                    <tr style="background-color: {{app.lighter_color}}">
                        <td>
                            <input type="checkbox"
                                name="selectapp"
                                value="{{app.name}}"
                                descr="{{app.description}}"
                                applink="{{app.link}}"
                                {{checked|yesno:"checked,"}}
                                onchange="appCheck(this)">
                        </td>
                        <td class="appname"
                            style="color: {{app.darker_color}}">
                            {{app.name}}
                        </td>
                        <td class="appdesc">
                            {{app.description}}
                        </td>
                    </tr>
                    {% endfor %}
                <table>
                <input type="hidden" id="app_positions"
                    name="app_positions" value="" />
                <input type="submit" name="submitcancel" value="Cancel" />
                <input type="submit" name="submitsave" value="Save" />
            </form>
